<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.maptechnology.manutencaoapp">

    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />

    <permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".application.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:adjustViewBounds="true"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/tema">
        <activity android:name=".activities.ObservaoCorretivaActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".activities.QrCordeResultActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activities.CincoPorquesActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activities.AceitaSolicitacoesAcitivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activities.TodasAsOrdensActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activities.InsereAtividadesNaOrdemActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activities.CriarOrdemActivity"
            android:screenOrientation="landscape"
            android:theme="@style/tema" />
        <activity
            android:name=".activities.AtividadesPorOrdemActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.CalendarActivity"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OrdensDoDiaActivity"
            android:screenOrientation="landscape"
            android:theme="@style/tema" />
        <activity android:name=".activities.LoginWhirlpool"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activities.DetalheCalendarioActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activities.QrCodeReaderActivity" />
        <activity
            android:name=".qrcodereader.barcode.BarcodeCaptureActivity"
            android:label="Read Barcode"
            android:screenOrientation="landscape" />
    </application>

</manifest>